body{
  background-color: beige;
}

#demo{
display: flex;
direction: center;
justify-content: center;
  text-decoration: none;
  color: blue;
  padding: 0.75rem;
  border: 1px solid aqua;
  border-radius: 5px;
  background-color: transparent;
  font-size: 1rem;
  transition: all 1s ease;}